node_modules
package.json
package.lock.json
venv/
.vscode/
app/views/__pycache__/incidents.cpython-37.pyc
app/views/uploads
tests/__pycache__/test_base.cpython-37-PYTEST.pyc
app/__pycache__/__init__.cpython-37.pyc
app/views/__pycache__/incidents.cpython-37.pyc
  tests/__pycache__/test_base.cpython-37-PYTEST.pyc